@import "tailwindcss";

@theme inline {
  --font-iranYekan: var(--font-iranYekan);
  --font-geist: var(--font-geist);
  --color-primary: #ed394e;
  --color-darkBg: #242424
}

@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));
  